
#nav {
    width: 100%;
    background: #333;
    color: #fff;
    font-family: sans-serif;
    padding: 25px 10px;
}
.nav-container-link {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 425px) {
 #nav {
    font-size: 15px;
    padding: 25px 5px;
 }   
}